@font-face {
    font-family: 'Jockey-One';
    src: url('../police/JockeyOne-Regular.ttf') format('truetype'),
}
body {
    font-family: 'Jockey-One', sans-serif;
    font-weight: bold;
    background-color: rgb(27, 27, 27);
}

.img-center {
    text-align:center;
  }

  article ,p {
    color: rgb(144, 144, 144);
}