h1 {
    text-align: center;
}

.navLoL,
.CentrerB {
    display: flex;
    justify-content: space-evenly;
}

.actuligue {
    margin-top: 10%;
}

.imglol {
    margin-left: 10%;
}

.texteD {
    margin-top: 10%;
    margin-left: 5%;
}

.imgD {
    margin-right: 10%;
}

.menuG {
    margin-left: 5%;
    padding-top: 10%;
    min-width: 25%;
    min-height: 800px;
}

.triste {
    font-size: 400%;
}

table,
th,
tr {
    border: solid 5px black;
    min-width: 450px;
    text-align: center;
    font-size: 20px;
}

td {
    border: solid 5px black;
}

.list-group {
    position: sticky;
    top: 50px;
    bottom: 50px;
}

li {
    width: 50%;
}

section {
    max-width: 70%;
    margin-left: 15%;
}

.main {
    width: 100% !important;
}

#sidenav {
    margin-left: 2%;
    margin-top: 2%;
}

.list-group-item {
    background-color: #533d77;
}

.placementBtnLol {
    display: flex;
    justify-content: space-around;
}

.nav5 {
    text-decoration: none;
    color: var(--ecritureNav);
    background-image: var(--bgNav);
    border: 2px solid var(--borderNav);
    box-shadow: 5px 5px 8px var(--boxShadowNav);
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Jockey-One';
    width: 400px;
    transition: all 0.3s ease;
}

.nav5:hover {
    cursor: pointer;
    background-image: var(--bgNavHover);
    border: 2px solid var(--borderNavHover);
    transform: scale(1.1);
}