
@font-face {
    font-family: 'Jockey-One';
    src: url(../police/JockeyOne-Regular.ttf) format(‘truetype’)
}
body {
    font-family: 'Jockey-One', sans-serif;
    font-weight: bold;
    background-color: rgb(2, 2, 2);
}

h1 {
    text-align: center;
}

article ,p{
    color: rgb(144, 144, 144);
}

p :not(.footer){
    width: 75%;
    margin: auto;
}


.header , .footer{
    background-color: rgb(27, 27, 27);
}

.main{
    background-color: #301111;
}

.logo{
    text-align: center;
}

.codeco{
    position: absolute;
    top: 25px;
    right: 15px;
}

.sponsors{
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav1 {
    background-color: rgb(206, 205, 205);
    font-size: 25px;
    padding-left:2%;
    padding-right: 2%;
}

.nav{
    margin-left: 35%;
    position: relative;
    top: 50px;
    padding-bottom: 3%;
}

.main{
    text-align: center;
    width: 80%;
    margin: auto;
}
  
.network{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.botlink {
    text-align: center;
    padding-bottom: 10px;
}
.langue{
    text-align: right;
}
