h1 {
    text-align: center;
}

.navLoL{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.actuligue{
    margin-top: 10%;
}

.CentrerB{
    display: flex;
    justify-content: space-between;
}

.imglol{
    margin-left: 10%;
}
.texteD{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.imgD {
    margin-right: 10%;
}

.menuG{
    margin-left: 5%;
    padding-top: 10%;
    background-color: rgb(27, 27, 27);
    height: 860px;
    width: 350px;
}