/*Partie concernant la police utiliser sur toute la page
vous pouvez tjs sur les pages CSS non commune changer les 
propriété de la police pour tel ou tel partie de la page
en fonction des besoins; les deux plus utiles sont
font-weight : pour l'épaisseur
font-size : pour la taille*/


@font-face {
    font-family: 'Jockey-One';
    src: url(../police/JockeyOne-Regular.ttf)
}

body {
    font-family: 'Jockey-One', sans-serif;
    background-color: rgb(2, 2, 2);
    margin: 0px;
}



/*Partie commune footer et header*/

* :not(a,button){
    color: rgb(144, 144, 144);
}

.header , .footer{
    background-color: rgb(27, 27, 27);
}



/*Partie concernant le Header*/

p :not(.footer){
    width: 75%;
    margin: auto;
}

.logo{
    margin-left: 45%;
}

.codeco{
    position: absolute;
    top: 5px;
    right: 15px;
}

.sponsors{
    position: absolute;
    left: 20px;
}

.nav{
    text-align: center;
    padding-bottom: 3px;
}

.nav1 {
    background-color: rgb(206, 205, 205);
    font-size: 30px;
    padding-left:2%;
    padding-right: 2%;   
}

.jeuxlive , .forumpropos {
    justify-content: space-between;
    display: inline;
}

.jeuxlive{
    margin-right: 10%;
}
.forumpropos{
    margin-left: 10%;
}



/*Partie concernant le main
normalement aucune modification est nécéssaire*/

.main{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 25px;
}



/*Partie concernant le footer*/

.network{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.langue{
    margin-right: 2%;
    margin-top: 2%;
}

.botlink {
    text-align: center;
    padding-bottom: 10px;
}
