p{
    font-size: 150px;
    text-align: center;
    cursor: default;
}
.levrai{
    text-decoration: none;
    cursor: default;
}
a:hover{
    transition: transform 60s ease-in-out;
    transform: rotate(99999deg);
}

.where:hover{
transform: rotateY(0.5turn); 
transition: 5s;
}


