:root {
  --bgColorSlider: #0e0e0e;
  --borderSlider: #000000;
  --bgSliderBefore: #e8e8e8;
  --colorIcon: #880000;
  --bgColorBtn: #0e0e0e;
  --borderBtn: #000000;
  --boxShadow: #183153;
}

.opacite {
  opacity: 50%;
}

#placement {
  margin-top: 10px;
  margin-right: 11px
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bgColorSlider);
  border: 1px solid var(--borderSlider);
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  border-radius: 20px;
  left: 2px;
  bottom: 3px;
  z-index: 2;
  background-color: var(--bgSliderBefore);
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 5px;
  left: 36px;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.moon svg {
  fill: var(--colorIcon);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: var(--bgColorBtn);
  border: 1px solid var(--borderBtn);
}

.input:focus+.slider {
  box-shadow: 0 0 1px var(--boxShadow);
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

#LogoApex {
  margin-right: 10px;
}

#LogoLol {
  margin-right: 10px;
}

#LogoSmash {
  margin-right: 10px;
}