section{
    background-color: rgb(94, 22, 22);
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
    margin-left:;
    margin-right: 10%;
  }
  
.inscription{
    margin-left: 10px;
}


  .centre{
    font-size: xx-large;
  }

 .couleur{
  color: black;
 }